akka {
  loglevel = {{ default .Env.LOG_LEVEL "WARNING" }}
  stdout-loglevel = {{ default .Env.LOG_LEVEL "WARNING" }}

  remote {
    log-sent-messages = on
    log-received-messages = on
    log-remote-lifecycle-events = off

{{ if .Env.UDP_ARTERY }}
    artery {
      enabled = on
      canonical.hostname = ${clustering.ip} # external (logical) hostname
      canonical.port = ${clustering.port}   # external (logical) port

      bind.hostname = 0.0.0.0        # internal (bind) hostname
      bind.port = ${clustering.port} # internal (bind) port

      advanced.aeron-dir = "/dev/shm/woken"
    }
{{ else }}
    netty.tcp {
      hostname = ${clustering.ip} # external (logical) hostname
      port = ${clustering.port}   # external (logical) port

      bind-hostname = 0.0.0.0         # internal (bind) hostname
      bind-port = ${clustering.port}  # internal (bind) port
    }
{{ end }}
  }

  extensions += "akka.cluster.pubsub.DistributedPubSub"

  cluster {
    seed-nodes = [
      "akka{{ if not .Env.UDP_ARTERY }}.tcp{{ end }}://"${clustering.cluster.name}"@"${clustering.seed-ip}":"${clustering.seed-port}
    ]

    roles = ["validation", "scoring"]

  }
}
