akka {
  loglevel = {{ default .Env.LOG_LEVEL "WARNING" }}
  stdout-loglevel = {{ default .Env.LOG_LEVEL "WARNING" }}

  remote {
    log-sent-messages = on
    log-received-messages = on
    log-remote-lifecycle-events = off

{{ if .Env.UDP_ARTERY }}
    artery {
      enabled = on
      canonical.hostname = ${clustering.ip} # external (logical) hostname
      canonical.port = ${clustering.port}   # external (logical) port

      bind.hostname = 0.0.0.0        # internal (bind) hostname
      bind.port = ${clustering.port} # internal (bind) port

      advanced.aeron-dir = "/dev/shm/woken"
    }
{{ else }}
    netty.tcp {
      hostname = ${clustering.ip} # external (logical) hostname
      port = ${clustering.port}   # external (logical) port

      bind-hostname = 0.0.0.0         # internal (bind) hostname
      bind-port = ${clustering.port}  # internal (bind) port
    }
{{ end }}
  }

  extensions += "akka.cluster.pubsub.DistributedPubSub"
  extensions += "akka.cluster.client.ClusterClientReceptionist"

  cluster {
    seed-nodes = [
      "akka{{ if not .Env.UDP_ARTERY }}.tcp{{ end }}://"${clustering.cluster.name}"@"${clustering.seed-ip}":"${clustering.seed-port}
    ]

    roles = ["validation", "scoring"]

  }
}

clustering {
  ip = "127.0.0.1"
  ip = ${?CLUSTER_IP}
  port = 8082
  port = ${?CLUSTER_PORT}
  seed-ip = "127.0.0.1"
  seed-ip = ${?CLUSTER_IP}
  seed-ip = ${?WOKEN_PORT_8088_TCP_ADDR}
  seed-port = 8088
  seed-port = ${?WOKEN_PORT_8088_TCP_PORT}
  cluster.name = "woken"
  cluster.name = ${?CLUSTER_NAME}
}
